:root {
    --main-color: rgb(225, 236, 240);
    --secondary-color: rgb(219, 230, 236);
}

p, h3 {
    margin: 0;
}

body {
    display: grid;
    grid-template-columns: 110px 6fr 2.1fr;
    grid-template-rows: 0.3fr 8fr 100px;

    font-family: system-ui, -apple-system, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
    font-size: 1.125rem;

    background-color: var(--main-color);
    color: black;
}

/* HEAD */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-column: 2/4;
}

header h1 {
    margin-left: 20px;
}

header > div {
    display: flex;
    align-items: center;
    margin-right: 30px;
    gap: 12px;
}

header img {
    cursor: pointer;
}

header img[src$="svg"] {
    height: 35px;
}

header img[src$="png"] {
    height: 45px;
}

/* SIDEBAR */

.sidebar {
    position: fixed;
    height: 95vh;
    top: 2.5vh;
    display: grid;
    grid-template-rows: 0.5fr 0.2fr 4fr 1fr;
    grid-template-columns: 1fr;
    justify-content: center;
    align-self: center;
    gap: 17px;

    background-color: black;
    color: white;

    margin-left: 15px;
    width: 80px;
    padding: 25px 0 14px 0;
    border-radius: 17px;
    overflow: scroll;
}

.sidebar p {
    align-self: center;
    text-align: center;
}

.sidebar img {
    height: 32px;
    cursor: pointer;
}

.navigation,
.support {
    display: flex;
    flex-direction: column;
    gap: 17px;
}

.navigation {
    grid-row: 3/4;
}

.support {
    grid-row: 4;
    align-self: end;
}

/* MAIN */

main {
    display: grid;
    grid-column: 2/3;
    grid-template-rows: 0.6fr 1fr 1fr;
    gap: 17px;
}

main img {
    height: 50px;
}

.money_statistics {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
    gap: 17px;
}

.biz_box {
    background-color: rgb(211, 224, 232);
    display: flex;
    border-radius: 20px;
    padding: 20px;
    /* height: 211px; */
}

.business_statistics {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    gap: 17px;
}

.chart {
    grid-column: 2/3;
    grid-row: 1/3;
    background-color: rgb(211, 224, 232);
    border-radius: 20px;
}

.orders {
    background-color: rgb(211, 224, 232);
    border-radius: 20px;
    padding: 20px;
}

.orders div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#chart {
    width: 100%;
    height: 100%;
}

.emails {
    background-color: rgb(211, 224, 232);
    border-radius: 20px;
    padding: 20px;
}

.emails > div {
    display: grid;
    grid-template-columns: 0.5fr repeat(3, 1fr);
}

/* RIGHT SIDEBAR */

.right_sidebar {
    margin: 0 15px;
}

/* formation status */

.formation_status {
    background-color: black;
    color: white;
    padding: 20px;
    border-radius: 25px;
}

.formation_head {
    align-self: flex-start;
}

.formation_head p {
    font-size: 14px;
}

h3 {
    margin-bottom: 8px;
}

.progress {
    display: flex;
    flex-direction: column;
}

progress[value] {
    appearance: none;
    height: 16px;
    width: auto;
    margin: 17px 0;
}

progress[value]::-webkit-progress-bar {
    background-color: rgb(64, 64, 64);
    border-radius: 15px;
}

progress[value]::-webkit-progress-value {
    background-color: var(--secondary-color);
    border-radius: 15px;
}

.progress p {
    font-size: 14px;
    text-align: center;
    margin-bottom: 7px;
}

.progress p:nth-child(2) {
    font-weight: bold;
}

button {
    background-color: var(--secondary-color);
    height: 45px;
    cursor: pointer;
    margin-top: 20px;
    border: none;
    border-radius: 13px; 
}

/* to do list */

.to_do_holder {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

.img_holder {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background-color: black;
    height: 40px;
    width: 40px;
    margin-right: 18px;
    border-radius: 37%;
}

.img_holder img {
    height: 30px;
}

.to_do p:nth-child(2) {
    font-size: 12px;
}

/* alert  */

.alert {
    background-color: black;
    color: white;
    border-radius: 25px;
    padding: 20px;
    display: flex;
    gap: 12px;
}

.green_circle {
    background-color: rgb(135, 196, 107);
    height: 13px;
    width: 13px;
    border-radius: 50%;
    flex-shrink: 0;
    position: relative;
    top: 30px;
}

.alert_container p {
    color: rgb(150, 150, 150);
}

.alert_container p:nth-child(2) {
    font-size: 16px;
}

.alert_container p:nth-child(3) {
    font-size: 13px;
    line-height: 1.4;
    margin-top: 10px;
}

/* FOOTER */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    grid-column: 2/4;

    background-color: black;
    color: white;
    height: 55px;
    font-size: 1.25rem;
    margin-right: 15px;
    border-radius: 17px;
}

.github {
    height: 22px;
    margin-left: 6px;
    transition: transform 0.4s ease-in-out;
}

.github:hover {
    transform: rotate(360deg) scale(1.2);
}

/* MEDIA QUERIES */

@media (max-width: 0px) {}