p, h3 {
    margin: 0;
}

body {
    display: grid;
    grid-template: 0.3fr 6fr 100px / 110px 6fr 2.1fr;
    grid-template-areas: ". header header"
                         ". main right_sidebar"
                         ". footer footer";

    font-family: system-ui, -apple-system, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
    font-size: 1.125rem;

    background-color: rgb(225, 236, 240);
    color: black;
}

/* SIDEBAR */

.sidebar {
    position: fixed;
    display: grid;
    grid-template-rows: 0.5fr 0.2fr 4fr 1fr;
    justify-content: center;
    align-self: center;
    gap: 17px;
    height: 95vh;
    top: 2.5vh;
    grid-area: sidebar;

    background-color: black;
    color: white;

    margin-left: 15px;
    width: 80px;
    padding: 25px 0 14px 0;
    border-radius: 17px;
    overflow: scroll;
}

.sidebar p {
    align-self: center;
    font-weight: bold;
}

.sidebar img, 
header img, 
main img[src*="dots"] {
    height: 32px;
    cursor: pointer;
}

.navigation,
.support {
    display: flex;
    flex-direction: column;
    gap: 17px;
}

.navigation {
    grid-row: 3/4;
}

.support {
    grid-row: 4;
    align-self: end;
}

/* HEAD */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-area: header;
}

header h1 {
    margin-left: 20px;
}

header > div {
    display: flex;
    align-items: center;
    margin-right: 30px;
    gap: 12px;
}

header img[src$="svg"] {
    height: 35px;
}

header img[src$="png"] {
    height: 45px;
}

/* MAIN */

main {
    display: grid;
    gap: 17px;
    grid-area: main;
}

main img {
    height: 50px;
}

.money_statistics {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
    gap: 17px;
}

.biz_box, 
.chart, 
.orders,
.emails {
    background-color: rgb(211, 224, 232);
    border-radius: 20px;
}

.biz_box {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.business_statistics {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 0.5fr 0.5fr;
    gap: 17px;
}

.chart {
    grid-column: 2/3;
    grid-row: 1/3;
}

.orders {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.orders div {
    display: flex;
    align-items: center;
    gap: 3vw;
}

.green_percent {
    background-color: rgb(191, 213, 203);
    color: rgb(79, 131, 55);
    padding: 7px;
    border-radius: 10px;
}

.red_percent {
    background-color: rgb(213, 192, 203);
    color: rgb(146, 34, 43);
    padding: 7px;
    border-radius: 10px;
}

#chart {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.emails {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 10px;
}

.emails > div {
    display: grid;
    grid-template-columns: 0.3fr 0.6fr 1fr 0.3fr;
    align-items: center;
    gap: 10px;
}

/* RIGHT SIDEBAR */

.right_sidebar {
    margin: 0 15px;
    min-width: 225px;
    grid-area: right_sidebar;
}

/* formation status */

.formation_status {
    background-color: black;
    color: white;
    padding: 20px;
    border-radius: 25px;
}

.formation_head {
    align-self: flex-start;
}

.formation_head p, .progress p {
    font-size: 0.875rem;
}

h3 {
    margin-bottom: 8px;
}

.progress {
    display: flex;
    flex-direction: column;
}

progress[value] {
    appearance: none;
    height: 16px;
    width: auto;
    margin: 17px 0;
}

progress[value]::-webkit-progress-bar {
    background-color: rgb(64, 64, 64);
    border-radius: 15px;
}

progress[value]::-webkit-progress-value {
    background-color: rgb(219, 230, 236);
    border-radius: 15px;
}

.progress p {
    text-align: center;
    margin-bottom: 7px;
}

.progress p:nth-child(2) {
    font-weight: bold;
}

button {
    background-color: rgb(219, 230, 236);
    color: black;
    height: 45px;
    margin-top: 20px;
    border: none;
    border-radius: 13px;
    cursor: pointer; 
}

/* to do list */

.to_do_holder {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

.img_holder {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background-color: black;
    height: 40px;
    width: 40px;
    margin-right: 18px;
    border-radius: 37%;
}

.img_holder img {
    height: 30px;
}

.to_do p:nth-child(2) {
    font-size: 0.75rem;
}

/* alert  */

.alert {
    display: flex;
    background-color: black;
    color: white;
    padding: 20px;
    gap: 12px;
    border-radius: 25px;
}

.green_circle {
    position: relative;
    flex-shrink: 0;
    top: 30px;
    background-color: rgb(135, 196, 107);
    height: 13px;
    width: 13px;
    border-radius: 50%;
}

.alert_container p {
    color: rgb(150, 150, 150);
}

.alert_container p:nth-child(2) {
    font-size: 1rem;
}

.alert_container p:nth-child(3) {
    font-size: 0.8125rem;
    line-height: 1.4;
    margin-top: 10px;
}

/* FOOTER */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    grid-area: footer;

    background-color: black;
    color: white;

    height: 55px;
    font-size: 1.25rem;
    margin-right: 15px;
    border-radius: 17px;
}

.github {
    height: 22px;
    margin-left: 6px;
    transition: transform 0.4s ease-in-out;
}

.github:hover {
    transform: rotate(360deg) scale(1.2);
}

/* MEDIA QUERIES */

@media (max-width: 680px) {
    body {
        grid-template: 90px 1fr 0.3fr 90px / 85px 1fr;
        grid-template-areas: ". header" 
                             ". main" 
                             ". right_sidebar" 
                             ". footer";
    }

    header img[src$="svg"] {
        height: 0;
    }

    h1 {
        font-size: 1.4375rem;
    }

    main {
        margin-right: 15px;
        margin-bottom: 15px;
    }

    .sidebar {
        width: 55px;
    }

    .sidebar img {
        height: 25px;
    }

    .sidebar p {
        font-size: 0.8125rem;
    }

    .emails p, 
    footer {
        font-size: 0.875rem;
    }

    .right_sidebar {
        margin-left: 0;
    }

    .to_do_container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .github {
        height: 18px;
    }
}